<a class="card" href="https://disorder119.github.io/veronika-horytska-portfolio/#werk/leinenmantel">
  <figure><img src="../img/leinenmantel.webp" alt="Текстильна робота «Leinenmantel» Вероніки Горицької: розписане вручну лляне пальто" width="710" height="945" loading="eager" decoding="async"></figure>
  <figcaption><span class="t">Leinenmantel</span><span class="m">2026</span><span class="s tex">Доступно / за запитом</span></figcaption>
</a>
<a class="card" href="https://disorder119.github.io/veronika-horytska-portfolio/#werk/weste-und-schuerze">
  <figure><img src="../img/weste-und-schuerze.webp" alt="Текстильна робота «Weste und Schürze» Вероніки Горицької, з ціпком" width="573" height="743" loading="eager" decoding="async"></figure>
  <figcaption><span class="t">Weste und Schürze</span><span class="m">2026</span><span class="s tex">Доступно / за запитом</span></figcaption>
</a>
<a class="card" href="https://disorder119.github.io/veronika-horytska-portfolio/#werk/dyki-bizony">
  <figure><img src="../img/dyki-bizony.webp" alt="Текстильна робота «Дикі бізони» Вероніки Горицької: пальто з мотивами бізонів" width="617" height="894" loading="eager" decoding="async"></figure>
  <figcaption><span class="t">Dyki Bizony</span><span class="m">2025</span><span class="s tex">Доступно / за запитом</span></figcaption>
</a>
<a class="card" href="https://disorder119.github.io/veronika-horytska-portfolio/#werk/pipes">
  <figure><img src="../img/pipes.webp" alt="Текстильна робота «Pipes» Вероніки Горицької: пальто поверх вишитого жилета" width="710" height="908" loading="eager" decoding="async"></figure>
  <figcaption><span class="t">Pipes</span><span class="m">2026</span><span class="s tex">Доступно / за запитом</span></figcaption>
</a>
<a class="card" href="https://disorder119.github.io/veronika-horytska-portfolio/#werk/vershnyky">
  <figure><img src="../img/vershnyky.webp" alt="Текстильна робота «Вершники» Вероніки Горицької: лляне пальто з постатями вершників" width="581" height="772" loading="lazy" decoding="async"></figure>
  <figcaption><span class="t">«Вершники» / Vershnyky</span><span class="m">2026</span><span class="s tex">Доступно / за запитом</span></figcaption>
</a>
<a class="card" href="https://disorder119.github.io/veronika-horytska-portfolio/#werk/skythisches-gold">
  <figure><img src="../img/skythisches-gold.webp" alt="Текстильна робота «Скіфське золото» Вероніки Горицької: пальто з прикрасою-аплікацією" width="571" height="743" loading="lazy" decoding="async"></figure>
  <figcaption><span class="t">Skythisches Gold</span><span class="m">2026</span><span class="s tex">Доступно / за запитом</span></figcaption>
</a>
<a class="card" href="https://disorder119.github.io/veronika-horytska-portfolio/#werk/strilez-hut">
  <figure><img src="../img/strilez-hut.webp" alt="Текстильна робота «Стрілець» Вероніки Горицької: лляний капелюх з постаттю стрільця" width="655" height="854" loading="lazy" decoding="async"></figure>
  <figcaption><span class="t">«Стрілець» / Strilez · Hut</span><span class="m">2026</span><span class="s tex">Доступно / за запитом</span></figcaption>
</a>
<a class="card" href="https://disorder119.github.io/veronika-horytska-portfolio/#werk/kopfbedeckung-aus-leder">
  <figure><img src="../img/kopfbedeckung-aus-leder.webp" alt="Текстильна робота «Шкіряний головний убір» Вероніки Горицької з тканинною вставкою" width="791" height="982" loading="lazy" decoding="async"></figure>
  <figcaption><span class="t">Kopfbedeckung aus Leder</span><span class="m">2026</span><span class="s tex">Доступно / за запитом</span></figcaption>
</a>
<a class="card" href="https://disorder119.github.io/veronika-horytska-portfolio/#werk/trypillische-madonnen">
  <figure><img src="../img/trypillische-madonnen.webp" alt="Текстильна робота «Трипільські мадонни» Вероніки Горицької з народним малюнком" width="701" height="646" loading="lazy" decoding="async"></figure>
  <figcaption><span class="t">Trypillische Madonnen</span><span class="m">2026</span><span class="s tex">Доступно / за запитом</span></figcaption>
</a>
<a class="card" href="https://disorder119.github.io/veronika-horytska-portfolio/#werk/weste-aus-reinem-kaschmir">
  <figure><img src="../img/weste-aus-reinem-kaschmir.webp" alt="Текстильна робота «Жилет з чистого кашеміру» Вероніки Горицької з малюнком бізона" width="811" height="842" loading="lazy" decoding="async"></figure>
  <figcaption><span class="t">Weste aus reinem Kaschmir</span><span class="m">2026</span><span class="s tex">Доступно / за запитом</span></figcaption>
</a>
<a class="card" href="https://disorder119.github.io/veronika-horytska-portfolio/#werk/dem-tier-auf-der-spur">
  <figure><img src="../img/dem-tier-auf-der-spur.webp" alt="Текстильна робота «Переслідуючи звіра» Вероніки Горицької: лляна сорочка з малюнком бізона" width="954" height="975" loading="lazy" decoding="async"></figure>
  <figcaption><span class="t">«Переслідуючи звіра» / Dem Tier auf der Spur</span><span class="m">2026</span><span class="s tex">Доступно / за запитом</span></figcaption>
</a>
<a class="card" href="https://disorder119.github.io/veronika-horytska-portfolio/#werk/bronzezeit">
  <figure><img src="../img/bronzezeit.webp" alt="Текстильна робота «Бронзова доба» Вероніки Горицької: рогатий чорний головний убір" width="595" height="740" loading="lazy" decoding="async"></figure>
  <figcaption><span class="t">Bronzezeit</span><span class="m">2026</span><span class="s tex">Доступно / за запитом</span></figcaption>
</a>
<a class="card" href="https://disorder119.github.io/veronika-horytska-portfolio/#werk/pidsvichnyk-kerzenhalter">
  <figure><img src="../img/pidsvichnyk-kerzenhalter.webp" alt="Текстильна робота «Підсвічник» Вероніки Горицької з мотивами птахів і тварин" width="746" height="846" loading="lazy" decoding="async"></figure>
  <figcaption><span class="t">Pidsvichnyk / Kerzenhalter</span><span class="m">2026</span><span class="s tex">Доступно / за запитом</span></figcaption>
</a>
<a class="card" href="https://disorder119.github.io/veronika-horytska-portfolio/#werk/handgenaehte-kopfbedeckungen">
  <figure><img src="../img/handgenaehte-kopfbedeckungen.webp" alt="Текстильна робота «Головні убори ручного шиття» Вероніки Горицької: шкіряний капелюх" width="572" height="743" loading="lazy" decoding="async"></figure>
  <figcaption><span class="t">Handgenähte Kopfbedeckungen</span><span class="m">2026</span><span class="s tex">Доступно / за запитом</span></figcaption>
</a>
